.result {
  display: none;
}

table {
  width: 100%;
}

table, th, td {
  border: 1px solid black;
  table-layout: fixed;

}

.website {
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#header, tr{
  text-align: center;
  height: 50px;
}

